/*----- Banner CSS Layout ---------*/
/*=======================================================
			WRAPPER
========================================================*/
#wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
	background: #fff;
	}
/*=======================================================
			HEADINGS
========================================================*/
a {text-decoration: none;color: #757575;} 
/*=======================================================
			BANNER
========================================================*/
.bnr-text {
	position: absolute;
	top:4%;
	max-width:1300px;
	margin:0 auto;
	left:0px;
	right:0px;
	display:inline-block;
	text-align:left;
 	}
.bnr-text h1 {
 	margin-top:30px;
	line-height:40px;
	color:#040404;
	font-size:50px;
	font-family:'Proxima';
	text-transform:uppercase;
	font-weight:400;
 }
.bnr-text h1 span{
	display:block;
 	color:#0065ab;
	font-size:30px;
	}
.bnr-text .callus{
	margin:17px 0;
	float:left;
	padding:10px 0px;
 	text-transform:uppercase;
	font-family:'Proxima';
	font-weight:600;
	display:block;
 	color:#0065ab;
	font-size:30px;
	border-bottom:solid 1px #757576;
	border-top:solid 1px #757576;
	}
.logo{}
.logo a{
	display:block;
	}
.logo img{
	position:relative !important;
	width:280px !important;
	height:auto !important;
	left:0px !important;
	top:0px !important;	
	} 
.bnr-text p {
	font-size:18px;
	line-height:26px;
	color:#040404;
	width:65%;
}
.bnr-text p a{
	display:inline-block;
	padding:15px 30px;
	font-size:24px;
 	color:#0067ac;
	font-weight:600;
	margin-top:15px;
	margin-right:25px;
	text-transform:uppercase;
	font-family: 'Proxima';
	border:1px solid #0067ac;
 	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
 	}
.bnr-text p a:hover{
 	color:#fff;
	background:#0067ac;
	border:1px solid #0067ac;
 	}
.bnr-text p a.video{
	background:url(../images/video-ico.png) 18px center no-repeat;
	padding-left:60px;
 	}
.bnr-text p a.video:hover{
	background:url(../images/video-ico-w.png) 18px center no-repeat #0067ac;
  	}

.bnr-text .btn {
	border: 2px solid #fff;
	display: inline-block;
	border-radius: 0px;
	color: #fff;
	font-size: 16px;
	padding: 15px 35px;
	margin-top: 50px;
	background: none;
}
.bnr-text .btn:hover {
	background: #d02730;
	border-color: #d02730;
}
#hlg-i{
	display:block;	
	}
#small-i{
	display:none;	
	}

 
/*=======================================================
			SLIDER
========================================================*/
#slides {
	position: relative;
}
#slides .slides-container {
	display: none;
}
#slides .scrollable {
	*zoom: 1;
	position: relative;
	top: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	}
#slides .scrollable:after {
	content: "";
	display: table;
	clear: both;
	}
.slides-navigation {
	margin: 0 auto;
	position: absolute;
	z-index: 3;
	top: 46%;
	color: #fff;
	width: 100%;
	}
.slides-navigation a {
	position: absolute;
	display: block;
	}
.slides-navigation a.prev {
	left: 0;
	}
.slides-navigation a.next {
	right: 0;
	}
.slides-pagination {
	position: absolute;
	z-index: 999;
	bottom: 250px;
	text-align: center;
	width: 100%;
	}
.slides-pagination a {
	border-radius: 1px;
	width: 40px;
	height: 5px;
	background: rgba(255,255,255,0.5);
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	zoom: 1;
	*display: inline;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
	margin: 2px;
	overflow: hidden;
	text-indent: -100%;
}
.slides-pagination a.current {
	background: #fff;
}
       
/*=======================================================
			TRANSPARENT COLOR
========================================================*/
.overlay-slide {
	background-color:transparent;
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
} 

@media screen  and (max-width:768px) {
#hlg-i{
	display:none;	
	}
#small-i{
	display:block;	
	}
	
	
}